/* ===== Slidezy Wrapper ===== */
.slidezy {
    width: 100%;
    margin: 40px auto;
    font-family: sans-serif;
}

.slidezy-content{
    position: relative;
    overflow: hidden;
}

.slidezy-track{
    display: flex;
    transition: transform 0.5s ease;
}

.slidezy-slide{
    flex-shrink: 0;
    font-size: 18px;
    text-align: center;
    padding: 30px 0;
}

.slide-1 { background: #3498db; }
.slide-2 { background: #e74c3c; }
.slide-3 { background: #2ecc71; }
.slide-4 { background: #9b59b6; }
.slide-5 { background: #f39c12; }
.slide-6 { background: #1abc9c; }


.slidezy-prev,
.slidezy-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    border-radius: 50%;
    width: 40px;
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;

    background: #ccc;
    border: none;
    cursor: pointer;

    font-size: 20px;
    padding: 10px;
}

.slidezy-prev { left: 10px; }
.slidezy-next { right: 10px; }

.slidezy-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:10px;
    margin-top: 15px;
}

.slidezy-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #ccc;
    cursor: pointer;
}

.slidezy-dot.active {
    background: #000;
} 
